.srpw-form {
    .loading {
        background: url("../img/spinner-2x.gif") no-repeat scroll center center / 20px 20px rgba(0, 0, 0, 0);
        background-size: 20px 20px;
        display: none;
        opacity: .7;
        filter: alpha(opacity=70);
        width: 100%;
        height: 20px;
        margin-top:.5rem;
        
    }
    .block {
        display:block;
    }
}